<div class="container">
    <div class="col-lg-12">
        <form ng-submit="search()" style="width: 100%">
            <div class="input-group input-group-lg" id="search-box">
                <input type="text" class="form-control" placeholder="Search for..." ng-model="query">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" ng-click="search()"><span class="glyphicon glyphicon-search"></span></button>
                </span>
            </div>
        </form>    
    </div>
  
</div>