        <h3 ng-bind-html="header"></h3>
        <table class="table">
            <tr>
                <th>
                    <div class="clickable" ng-click="sortType = 'id'; sortReverse = !sortReverse">Score<span ng-show="sortType == 'id'">&nbsp;&#8597;</span></div>
                </th>
                <th>
                    <div class="clickable"  ng-click="sortType = 'title'; sortReverse = !sortReverse">Title<span ng-show="sortType == 'title'">&nbsp;&#8597;</span></div>
                </th>
                <th>
                    <div class="clickable"  ng-click="sortType = 'answers'; sortReverse = !sortReverse">Answers<span ng-show="sortType == 'answers'">&nbsp;&#8597;</span></div>
                </th>
                <th>
                    <div class="clickable"  ng-click="sortType = 'tags'; sortReverse = !sortReverse">Tags<span ng-show="sortType == 'tags'">&nbsp;&#8597;</span></div>
                </th>
            </tr>
            <tr ng-repeat="item in searchResultItems | orderBy:sortType:sortReverse" class="repeated-item">
                <td ng-bind-html="item.score"></td>
                <td ng-bind-html="item.title" class="longtitle"></td>
                <td ng-bind-html="item.answers"></td>
                <td>
                    <ul class="list-inline">
                        <li ng-repeat="tag in item.tags"><mark ng-bind-html="tag"></mark></li>
                    </ul>
                </td>
            </tr>
        </table>
